body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 20px;
  max-width: 480px;
  margin: auto;
}

h1 {
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}

.log {
  margin-top: 20px;
  background: #39393b;
  padding: 12px;
  border-radius: 8px;
}

.log p {
  margin: 6px 0;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 15px;
  border-radius: 6px;
  border: none;
}

/* Botón Guardar */
.btn-guardar {
  background: #22c55e; /* verde */
  color: #000;
}

.btn-guardar:active {
  background: #16a34a; /* verde más oscuro */
  transform: scale(0.95);
}

